.appWrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.appHeader {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.branding {
  color: #DDDDDD;
}

.appControls {
  margin-top: 20px;
  width: 100%;
  height: 80px;
  display: flex;
  background-color: #2C2C2C;
  border-radius: 8px;
}