.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 3em 4em;
  font-size: 18px;
}

.link {
  color: #9baec8;
  cursor: pointer;
}

.name {
  color: #2b90d9;
  transition: color .3s ease;
}

.link:hover .name {
  color: #2588d0;
}

.title {
  color: #d9e1e8;
}

@media (max-width: 500px) {
  .footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2em;
  }
}
