*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  font-size: 16px;
}

video {
  background-color: #101010;
  border-radius: 6px;
  margin: 20px;
  width: 600px;
  aspect-ratio: 16/9;
}