*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #191b22;
}

#root, .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
  height: 100vh;
}

.wrapper {
  flex-direction: column;
  gap: 20px;
}

.wrapper footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 3em 4em;
  font-size: 18px;
}

.wrapper footer a {
  color: #9baec8;
  cursor: pointer;
}

.wrapper footer a strong {
  color: #2b90d9;
  transition: color .3s ease;
}

.wrapper footer a:hover strong {
  color: #2588d0;
}

button {
  color: #fafafa;
  background: none;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 4px;
}

a {
  text-decoration: none;
}